*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color-scheme: light;
}


.gameBoard{
    color-scheme: light;
    width: 80%;
    height: 500px;
    border-bottom:  20px solid rgb(6, 80, 34);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#14bdd3, #ffffff);
    
}

.tubo{
   position: absolute;
   bottom: 0;
   width: 80px;
    
   
  animation: tuboAnimacao 1s infinite linear;
}

.pontuacao h2{
    color: #5108c5;
    font-size: xx-large;
    margin-left: 12px;
}

.RestartButton{
    width: 30%;
    height: 30px;
    position: absolute;
    bottom: 250px;
    left: 400px;
    border-radius: 10px;
    background-color: rgb(23, 105, 27);
    color: #5108c5;
    font-size: x-large;
    text-transform: uppercase;
    text-decoration: wavy;
    box-shadow: rgba(0, 0, 0, 0.5) 6px 6px 6px;
    border: 1px solid #780ccf;
    
}

.nuvens{
    position: absolute;
    width: 690px;
    height: 200px;
    animation: nuvensAnimation 25s infinite linear;
}

.mario{
    position: absolute;
    bottom: 0;
    width: 150px;
}

.jump{
    animation: jump 500ms ease-out;

}

@keyframes nuvensAnimation {
    from {
        right: -500px;
    }

    to {
       right: 100%;
    }
}

@keyframes tuboAnimacao {
    from {
        right: -80px;
    }

    to {
       right: 100%;
    }
}

@keyframes jump {
    0%{
        bottom: 0;
    }
    40%{
        bottom: 180px;
    }

    50%{
        bottom: 180px;
    }
    60%{
        bottom: 180px;
    }
    65%{
        bottom: 180px;
    }

    100%{
        bottom: 0;
    }
}

.GameOver{
    display: none;
}

