*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color-scheme: light;
}


.gameBoard{
    color-scheme: light;
    width: 80%;
    height: 500px;
    border-bottom:  30px solid rgb(24, 145, 8);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#14bdd3, #ffffff);
    
}

.StartScreen{
    position: absolute;
    left: 350px;
    top: 150px;
}
.StartScreen h2 {
   color: #780ccf;
   font-size: 50px;
}

.recorde{
    position: absolute;
    right: 20px;
    top: 6px;
    color: #5108c5;
    font-size: 20px
}


.StartButton{
   width: 100%;
    height: 60px;
    background: linear-gradient(#10dbb9, #530daf); 
    color: #ffffff;
    border-radius: 10px;
    font-size: x-large;
    text-transform: uppercase;
    text-decoration: wavy;
    box-shadow: rgba(0, 0, 0, 0.5) 6px 6px 6px;
    border: 1px solid #780ccf;
    margin-left: px;
}


.tubo{
   position: absolute;
   bottom: 0;
   width: 80px;
   height: 60px;
   
   
  animation: tuboAnimacao var(--tubo-speed) infinite linear;
}

.pontuacao h2{
    color: #5108c5;
    font-size: xx-large;
    margin-left: 12px;
    position: relative;
}

.RestartButton{
    width: 40%;
    height: 60px;
    position: absolute;
    bottom: 250px;
    left: 300px;
    border-radius: 10px;
    background: linear-gradient(#10dbb9, #530daf);
    color: #ffffff;
    text-decoration: ;
    font-size: x-large;
    text-transform: uppercase;
    text-decoration: wavy;
    box-shadow: rgba(0, 0, 0, 0.5) 6px 6px 6px;
    border: 1px solid #780ccf;
    
}

.nuvens{
    position: absolute;
    width: 690px;
    height: 200px;
    animation: nuvensAnimation 25s infinite linear;
}

.mario{
    position: absolute;
    bottom: 0;
    width: 150px;
}

.jump{
    animation: jump 500ms ease-out;

}

@keyframes nuvensAnimation {
    from {
        right: -700px;
    }

    to {
       right: 100%;
    }
}

@keyframes tuboAnimacao {
    from {
        right: -80px;
    }

    to {
       right: 100%;
    }
}

@keyframes jump {
    0%{
        bottom: 0;
    }
    40%{
        bottom: 180px;
    }

    50%{
        bottom: 180px;
    }
    60%{
        bottom: 180px;
    }
    65%{
        bottom: 180px;
    }

    100%{
        bottom: 0;
    }
}

.GameOver{
    display: none;
}

